.teamMember {
    display: flex;
    align-items: center;
    margin: 0 auto 12px auto;
  
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .avatar {
    flex: 0 0 96px;
    width: 250px;
    height: auto;
    margin: 0;
  }
  
  .prose {
    margin: 0 0 0 30px;
  }
  
  .teamMemberName {
    margin: 0 0 12px 0;
    padding: 0;
  }