.blog-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin-bottom: 30px;
    }

    h3 {
        margin-bottom: 10px;
    }
}
.blog-date {
    margin: 0;
    font-style: italic;
}