$container-height: 80px;

.topMessage {
    width: 100%;
    height: $container-height;
    background-color: rgba(0,0,0,0.6);
    text-align: center;
    color: #fff;
    line-height: $container-height;
}