$top-message-height: 80px;
$page-background-color: #f5f5f5;
$content-background-color: #ffffff;
$to-top-size: 40px;

html {
    background-color: $page-background-color;
}
.lock-scroll {
    overflow: hidden !important;
  }

  /**
 * Visually hide content but keep accessible to screen readers.
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.hide-visually {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
  }

.main-content {
    background-color: $content-background-color;
    padding: 50px 30px;

    // page banner inside main content
    [class*="pageBanner"] {
        margin: 0 -30px;
    }
}
.container {
    margin: 0 auto;
    max-width: 1600px;
    padding: 30px;
}

.center-elements {
    text-align: center;
}

.smooth-scroll {
    cursor: pointer;
    color: blue;

    &:hover {
        text-decoration: none;
        color: lighten(blue, 40%);
    }
}
.to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 1;
    background: none;
    width: $to-top-size;
    height: $to-top-size;
    line-height: $to-top-size;
    border: 1px solid #000;
    border-radius: $to-top-size/2;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
    opacity: 0;
    transition: opacity 0.3s;

    &.isVisible {
      opacity: 1;
    }
}

.nav.isFixed {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 1000;
}

// typically used for the introduction paragraph of a page
.intro {
    font-size: 1.2rem;
}
.highlight {
    background-color: #f5f5f5;
}

.no-highlight {
    background-color: #fff;
}

.lightText {
    color: #fff;
    text-shadow: 0px 0px 20px rgba(0,0,0,0.8) !important;
}

.media-list_horizontal {
    display: flex;
    justify-content: space-around;
    list-style: none;
    
    li {
        flex: 0 0 300px;
        padding: 30px;
    }
    img {
        height: 100px;
        width: auto;
    }

    h3 {
        height: 2.5em;
    }
}

// global image styles
.midsize {
    width: 50%;
}

.center-align {
    margin: 0 auto 40px;
}