.footer {
    margin: 0 auto;
    padding: 1.25rem 1rem;
    border-top: 3px solid red;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

.mainLogo {
    display: inline-block;
    width: 60px;
    height: auto;
    margin: 0;
}
.linkList {
    list-style: none;
    float: right;
}