.navBar {
    height: 100px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1.25rem 1rem;
}
.stickyNavBar {
    height: 100px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1.25rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(240,240,240,0.9);
}
.navBarWrapper {
    height: 100px
}
.mainLogo {
    display: inline-block;
    width: 60px;
    height: auto;
}
.linkList {
    margin: 8px 0 0 0;
    list-style: none;
    float: right;

    li {
        margin: 0;
        padding: 10px 20px;
        display: inline-block;
    }
}