.navBar {
    height: 100px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1.25rem 1rem;
}
.mainLogo {
    display: inline-block;
    width: 60px;
    height: auto;
}
.linkList {
    list-style: none;
    float: right;
}